.container {
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%; */
    align-items: center;
    padding: 2vw;
    /* border: 3px solid red; */
}

.select {
    background-color: #363636;
    color: #a0a0a0;
    width: 8vw;
    height: 4vh;
    border: none;
    border-radius: .15vw;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    /* border: 3px solid red; */
    width: 35vw;
    gap: 3vh;
}

.teamSelect {
    font-weight: 600;
    font-size: 1.2rem;
}

.optionsContainer {
    display: flex;
    justify-content: center;
}

.typeContainer {
    display: flex;
    gap: 2vh;
}

.btn {
    background-color: #8aff80;
    border-radius: .2vw;
    width: 10vw;
    height: 4vh;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    border: none;
    transition: all .3s ease;
}

.btn:hover {
    background-color: #b1ffaa;
    cursor: pointer;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1300px) {
    .formContainer {
        width: 70vw;
        height: 30vh;
    }

    .btn {
        width: 15vw;
    }

    .select {
        width: 30vw;
    }
}

@media (max-width: 600px) {
    .formContainer {
        width: 70vw;
        height: 25vh;
    }

    .btn {
        width: 15vw;
    }

    .select {
        width: 30vw;
    }
}
