.button {
    background-color: #8aff80;
    border-radius: .2vw;
    width: 7vw;
    height: 4vh;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    border: none;
    transition: all 1s ease;
}

.button:hover {
    position: relative;
    bottom: .2vh;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .button {
        font-size: .9rem;
        width: 9vw;
    }
}

@media (max-width: 600px) {
    .button {
        font-size: .7rem;
        width: 11vw;
        height:3vh;
    }
}
