.container {
    /* border: 3px solid red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 25vw;
    background-color: #292929;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
    height: 30vh;
    justify-content: space-evenly;
}
.form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
    height: 35vh;
    /* gap: 2vh; */
    justify-content: space-evenly;
}

.bar {
    height: .8vh;
    background-color: #5cc5e6;
    /* border-radius: .25vh .25vh 0 0; */
    width: 25vw;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
}

.title2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    /* padding-bottom: 2vh;
    padding-top: 2vh; */
}

.member {
    font-size: .85rem;
    color: #a6a6a6;
}
.member2 {
    margin-top: 100vh;
    /* border: 3px solid red; */
    /* padding-top: 2vh; */
    font-size: .85rem;
    color: #a6a6a6;
}

.join {
    color: #7fe876;
    text-decoration: underline;
}

.join:hover {
    cursor: pointer;
}

.header {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* border: 3px solid green; */
    height: 15vh;
}

.header2 {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* border: 3px solid green; */
    gap: 2vh;
    height: 15vh;
}

.headTop {
    /* border: 3px solid red; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headBot {
    /* border: 3px solid blue; */
    height: 40%;
}

.buttonContainer {
    /* border: 3px solid red; */
    height: 5vh;
}

.demo {
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    font-size: .9rem;
    border: none;
    border-radius: .2vh;
    height: 3vh;
    width: 12vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo:hover {
    cursor: pointer;
}

.input {
    background-color: #363636;
    border: none;
    height: 5vh;
    width: 15vw;
    color: white;
}

.signIn {
    background-color: #8aff80;
    color: #2e4224;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 20vw;
    font-size: 1.2rem;
    font-weight: 600;
}

.signIn:hover {
    position: relative;
    bottom: .2vh;
}

.btnBox {
    padding-top: 3vh;
}

@media (max-width: 1400px) {
    .title2 {
        font-size: 1.5rem;
    }

    /* .formContainer{
        width: 60vw;
        height: 60vh;
    }

    .input {
        width: 40vw;
    } */

    /* .signIn {
        width: 50vw;
    } */

    .demo {
        width: 15vw;
        font-size: .75rem;
    }
}

@media (max-width: 1100px) {
    .title2 {
        font-size: 1.2rem;
    }

    .formContainer{
        width: 40vw;
        height: 60vh;
    }

    .input {
        width: 20vw;
    }

    .signIn {
        width: 25vw;
    }

    .demo {
        width: 25vw;
    }
}

@media (max-width: 600px) {
    .title2 {
        font-size: 1.2rem;
    }

    .formContainer{
        width: 60vw;
        height: 60vh;
    }

    .input {
        width: 40vw;
    }

    .signIn {
        width: 50vw;
    }

    .demo {
        width: 50vw;
    }
}
