.container {
    /* border: 3px solid red; */
    padding: 2vw;
    width: 20vw;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* align-items: center; */
    /* border: 3px solid red; */
    height: 30vh;
    overflow-y: scroll;
}

.cardContainer::-webkit-scrollbar {
    width: 0.6vw;
    height: 90%;
    position: absolute;
    right: 5px;
  }
  
  .cardContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4a4b4b;
    position: relative;
    left: -5px;
  }
  
  .cardContainer::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #1a1a1a;
  }

.card {
    /* border: 3px solid blue; */
    padding: .5vw;
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    height: 4vh;
}

.card:hover {
    background-color: #404040;
}

.button {
    background-color: #8aff80;
    border-radius: .2vw;
    width: 7vw;
    height: 3vh;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    border: none;
    transition: all 1s ease;
}

.button:hover {
    position: relative;
    bottom: .2vh;
    cursor: pointer;
}
