.container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.loader {
    position: relative;
    border-radius: 30px;
    width: 60%;
    height: 4px;
    top: 250px;
    left: 325px;
}

.loader::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #8aff80;
    animation: moving 0.5s ease-in-out infinite;
}

@keyframes moving {
    50% {
     width: 100%;
    }
   
    100% {
     width: 0;
     right: 0;
     left: unset;
    }
}
