.container {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 0.25vw;
    width: 100%;
    /* height: fit-content; */
}

.container:hover {
    background-color: #353535;
}

.pic_container {
    /* border: 3px solid red; */
    width: 3vw;
}

.pic {
    object-fit: cover;
}

.xp {
    color: #8aff80;
    font-size: 1.7rem;
    font-weight: 700;
}

.button {
    background-color: #8aff80;
    border: none;
    border-radius: .25vh;
    width: 4vw;
    height: 3vh;
    margin-right: .65vw;
    position: relative;
    right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    position: relative;
    bottom: .2vh;
}

.nothing {
    background-color: transparent;
    border: none;
    border-radius: .25vh;
    width: 4vw;
    height: 3vh;
    margin-right: .65vw;
    position: relative;
    right: 3vw;
}

.cardContainer {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    width: 16%;
}

@media (max-width: 1300px) {
    .container {
        font-size: .9rem;
    }
    .button {
        font-size: .75rem;
        width: 5vw;
    }
}

@media (max-width: 900px) {
    .button {
        width: 6vw;
        font-size: .7rem;
    }

    .pic_container {
        width: 5vw;
    }
}

@media (max-width: 600px) {
    .container {
        /* border: 3px solid red; */
        display: flex;
        align-items: center;
    }

    .xp {
        font-size: 1.2rem;
    }

    .button {
        width: 12vw;
        font-size: .83rem;
        height: 3vh;
        right: 1vw;
    }

    .container {
        font-size: 1rem;
    }

    .pic_container {
        width: 20vw;
    }

    .avNow {
        text-align: center;
    }

    .cardContainer {
        margin-right: 6vw;
        height: 7vh;
        /* width: 40vw; */
        display: flex;
        align-items: center;
    }

    .opp {
        display: none;
    }
}
