.container{ 
    /* border: 3px solid red; */
    margin-top: 12vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}

.header {
    /* border: 3px solid blue; */
    width: fit-content;
    font-size: 2.8rem;
    font-weight: 800;
    padding-bottom: 1vh;
}

.my {
    border-top: .4vw solid #5cc5e6;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}


.loader {
    position: relative;
    border-radius: 30px;
    width: 60%;
    height: 10px;
}

.loader::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #8aff80;
    animation: moving 0.5s ease-in-out infinite;
}

@keyframes moving {
    50% {
     width: 100%;
    }
   
    100% {
     width: 0;
     right: 0;
     left: unset;
    }
}
