.container {
    /* border: 3px solid red; */
    margin-top: 2vh;
    height: 67vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5vw;
    /* width: ; */
}

.title {
    margin: 0;
}

.cardContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
    background-color: transparent;
    color: #7bff80;
    border: none;
    /* border: 3px solid red; */
}

.btnContainer:hover {
    cursor: pointer;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7bff80;
    border-radius: 40vh;
    /* padding: .25vw; */
    width: 1vw;
    height: 2vh;
}

@media (max-width: 1300px) {
    .iconContainer {
        width: 2vw;
    }

}

@media (max-width: 900px) {
    .iconContainer{
        width: 2vw;
    }

    .btnContainer {
        gap: 1vw;
    }
}

@media (max-width: 600px) {
    .iconContainer{
        width: 3vw;
    }
}
