.nav_container {
    position: sticky;
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    background-color: #292929;
    height: 6.5vh;
    align-items: center;
    font-weight: 600;
    /* margin-top: 0.2vh; */
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
    width: 90vw;
    height: 100%;
}

.sign_up_login {
    display: flex;
    /* border: 3px solid yellow; */
    width: 13vw;
    height: 100%;
    align-items: center;
    margin-right: -5vw;
}

.link {
    color: white;
}

.link:hover {
    cursor: pointer;
}

.nav_user {
    color: white;
}

.nav_user:hover {
    cursor: pointer;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid red; */
    border-left: 1px solid #424242;
    font-size: 1.15rem;
    height: 100%;
    width: 50%;
    transition: all 0.25s ease;
}

#login:hover {
    cursor: pointer;
    background-color: #3f3f3f;
}

#signup {
    background-color: #8aff80;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid red; */
    border-left: 1px solid #424242;
    font-size: 1.15rem;
    height: 100%;
    width: 50%;
    transition: all 0.25s ease;
}

#signup:hover {
    cursor: pointer;
    background-color: #9fff97;
}


#loginText {
    color: #89fd7f;
}

#signupText {
    color: #292929;
}

#house {
    font-size: 2rem;
}

#house:hover {
    cursor: pointer;
}

.houseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    /* border: 3px solid red; */
    height: 100%;
    transition: all 0.25s ease;
}

.houseContainer:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.logo {
    width: 5vw;
    height: 5vh;
    filter: brightness(100%);
    /* border: 3px solid red; */
}
