.container {
    display: flex;
    justify-content: center;
    background-color: #292929;
}

.title {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    height: 5vh;
}

.title span:hover {
    cursor: pointer;
}
