.container {
    /* border: 3px solid #ff0000; */
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    position: relative;
    bottom: 30vh;
}

.headerLeft {
    /* border: 3px solid red; */
    display: flex;
    width: 80%;
}

.bigList {
    font-size: 3.2rem;
}


.leftSide {
    /* border: 3px solid gold; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picContainer {
    border: 3px solid white;
    /* width: 5vw; */
    background-color: #363636;
    border-radius: 5vw;
    width: 3vw;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 1vw;
}

.teamName {
    font-size: 2.7rem;
    font-weight: 600;
}

.time {
    font-weight: 600;
}

.info {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.rl {
    display: flex;
    align-items: center;
    gap: .25vw;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.btn {
    background-color: #8aff80;
    border-radius: .2vw;
    width: 7vw;
    height: 4vh;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    border: none;
    transition: all 1s ease;
}

.btn:hover {
    position: relative;
    bottom: .2vh;
    cursor: pointer;
}

.teamInfoContainer {
    position: relative;
    bottom: 15vh;
    /* border: 3px solid red; */
    display: flex;
    gap: 5vw;
    width: 55vw;
}

@media (max-width: 1200px) {
    .teamName {
        font-size: 2.5rem;
    }

    .time {
        font-size: .9rem;
    }

    .rl {
        font-size: .9rem;
    }

    .picContainer {
        width: 4vw;
    }

    .bigList {
        font-size: 2.8rem;
    }

    .teamInfoContainer {
        width: 60vw;
    }
}

@media (max-width: 1050px) {
    .teamName {
        font-size: 2rem;
    }

    .time {
        font-size: .8rem;
    }

    .rl {
        font-size: .8rem;
    }

    .picContainer {
        width: 4vw;
    }

    .bigList {
        font-size: 2.5rem;
    }

    .headerLeft {
        width: 100%;
    }

    .teamInfoContainer {
        width: 65vw;
    }
}

@media (max-width: 800px) {
    .teamName {
        font-size: 1.8rem;
    }

    .time {
        font-size: .7rem;
    }

    .rl {
        font-size: .7rem;
    }

    .picContainer {
        width: 4vw;
    }

    .bigList {
        font-size: 2rem;
    }

    .header {
        width: 60%;
        bottom: 25vh;
    }

    .headerLeft {
        width: 100%;
    }

    .picContainer {
        border: 2px solid white;
    }

    .teamInfoContainer {
        width: 75vw;
    }
}
