.container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    padding-bottom: 2vh;
    font-size: 1.25rem;
    font-weight: 600;
    /* border: 3px solid red; */
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* border: 3px solid red; */
}

.detail {
    font-weight: 400;
    font-size: .9rem;
    color: #82868b;
}

@media (max-width: 900px) {
    .header {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .header {
        font-size: .8rem;
    }

    .detail {
        font-size: .8rem;
    }
}
